* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h2,
  h3,
  .a {
    color: #34495e;
  }
  a{
    text-decoration: none;
  }
  
  .logo {
    margin: 0;
    font-family: "Carter One";
    font-size: 1.45em;
    color: red;
  }
  .logo a {
    color: #00263A;
  }
  
  .main-nav {
    margin-top: 5px;
  }
  .logo a,
  .main-nav .a {
    padding: 10px 15px;
    text-transform: capitalize;
    text-align: center;
    display: block;
  }
  #eleBuddy{
    color:#EC7700;
  }
  .main-nav .a {
    color: #34495e;
    font-size: 0.99em;
    left :50%;
    
  }
  .topnav-centered .a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .main-nav .a:hover {
    color: #00263A;
    
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .header {
  
    border: 2px solid #EAEAEA;
    background-color:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 2;   
    box-shadow: 0px -15px 25px #A6A6A6;
  }
  
  /* ================================= 
    Media Queries
  ==================================== */
  
  @media (min-width: 769px) {
    .header,
    .main-nav {
      display: flex;
    }
    .header {
      flex-direction: column;
      align-items: center;
      .header {
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
      }
    }
  }
  
  @media (min-width: 1025px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  